.productsPage {
  padding: 20px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Стилі для кнопок-посилань категорій */
.categoryLinks {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Дозволяє переходити на наступний рядок на менших екранах */
}

.categoryLink {
  padding: 10px 15px;
  background-color: #0275d8;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.categoryLink:hover {
  background-color: #025aa5;
}

[data-theme="dark"] .categoryLink {
  background-color: #444;
}

[data-theme="dark"] .categoryLink:hover {
  background-color: #666;
}

/* Стиль для кнопки "Повернутися на початок" */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #132946;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex; /* Додаємо flex-контейнер */
  justify-content: center; /* Вирівнюємо по горизонталі */
  align-items: center; /* Вирівнюємо по вертикалі */
  padding: 0; /* Відключаємо padding */
  line-height: 20; /* Забезпечує, що лінія буде точно по центру */
}

.scrollToTop::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid white; /* Колір і товщина стрілки */
}

.scrollToTop:hover {
  background-color: #244e86;
}
